/* Override  */
.selector-for-some-widget {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
} 

body {
	font-family: 'OpenSans';
	font-size: 1.25rem;
	overflow-x: hidden;
}

body > div {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

body.wall-background {
	background-image: url(img/concrete-seamless.png);
}

.jumbotron {
	margin-top: 50px;
}

.jumbotron-bgcolor {
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(209, 214, 220, 0.86)), color-stop(80%, rgba(202, 221, 242, 1)), to(rgba(132, 177, 225, 1)));
	background: -webkit-linear-gradient(bottom, rgba(209, 214, 220, 0.86), rgba(202, 221, 242, 1) 80%, rgba(132, 177, 225, 1));
	background: -o-linear-gradient(bottom, rgba(209, 214, 220, 0.86), rgba(202, 221, 242, 1) 80%, rgba(132, 177, 225, 1));
	background: linear-gradient(to top, rgba(209, 214, 220, 0.86), rgba(202, 221, 242, 1) 80%, rgba(132, 177, 225, 1));
	border-bottom: 1px solid grey;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.jumbotron-bg-img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background: url(img/header-bg4.jpg) no-repeat center center;
	background-size: cover;
}

h1,div.main-headline {
	font-family: 'Merriweather', sans-serif;
	font-size: 2.75rem;
	font-weight: 500;
	margin-bottom: 3%;
}

h2.main-headline {
	font-family: 'Merriweather', sans-serif;
	font-size: 2.5rem;
	font-weight: 400;
	text-align: center;
}

h2.secondary-headline {
	font-family: 'Merriweather', sans-serif;
	font-size: 2.5rem;
	font-weight: 500;
	color: #fff;
	text-shadow: black 2px 2px 0px;
	padding: 2%;
	text-align: center;
}

h2.house-type {
	font-family:'Merriweather', sans-serif;
	font-size: 2rem;
	
}

.main, .description, .house-description, .house-full-description {
	font-family: 'Open Sans', sans-serif;
}

.description, .house-description, .house-full-description {
	text-align: justify;
}

.description {
	background: rgba(255, 255, 255, 0.5);
	padding: 20px;
	border-radius: 25px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.read-more-btn {
	margin-bottom: 35px;
}

.description-headline {
	font-family: 'Merriweather', sans-serif;
	font-size: 2rem;
	font-weight: 400;
}

a.more-about {
	font-size: 80%;
	padding: 10px;
	border-bottom: 1px dashed black;
	border-left: 1px dashed black;
	border-right: 1px dashed black;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

a.more-about:hover {
	background-color: white;
}

.more-about a:vizited {
	color: black;
}

.more-about a:active {
	color: black;
}

span.bg-color {
	display: block;
	padding: 0 2% 10px 2%;
	background-color: rgba(48, 48, 48, 1);
	color: white;
}

span.company-name {
	color: rgba(179, 55, 55, 1);
	font-family: 'Lobster', sans-serif;
	font-size: 3rem;
}

.logo {
	color: rgba(179, 55, 55, 1);
	font-family: 'Lobster', sans-serif;
	font-size: 1.5rem;
}

a:visited {
	color: black;
}

a:hover {
	color: black;
	text-decoration: none;
}

blockquote {
	margin: 0;
	background: white;
	border-top: 5px solid rgba(179, 55, 55, 1);
	border-bottom: 5px solid rgba(179, 55, 55, 1);
	color: #3A3C55;
	padding: 30px 30px 30px 90px;
	position: relative;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}
blockquote:before {
	content: "\201C";
	font-family: serif;
	position: absolute;
	left: 20px;
	top: 20px;
	color: white;
	background: #FB6652;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 50px;
	line-height: 1.35;
	text-align: center;
}
blockquote p {
	margin: 0 0 16px;
	font-size: 22px;
	letter-spacing: .05em;
	line-height: 1.4;
}
blockquote cite {
	font-style: normal;
}

.social-button {
	width: 2rem;
}

.phone-icon {
	height: 35px;
	float: left;
	margin: 10px 10px 10px 0;
}

div.phone-number {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25rem;
	font-weight: 500;
	text-decoration: underline;
	margin-top: 10px;
	margin-bottom: 20px;
}

.phone-number a:link, a:visited {
	color: black;
}

.detailed {
	display: block;
	box-shadow: 4px 10px 29px 0 rgba(216,27,4,.4);
	-webkit-box-shadow: 4px 10px 29px 0 rgba(216,27,4,.4);
	-moz-box-shadow: 4px 10px 29px 0 rgba(216,27,4,.4);
	margin: 0 auto 34px;
	padding: 30px 80px;
	background-color: rgba(179, 55, 55, 1);
	font-size: 1.25rem;
	color: #fff;
	border-radius: 25px;
	font-family: 'Open Sans', sans-serif;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.detailed:hover {
	color: #fff;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}



.callback-form {
	margin: 25px;
}

.catalog {
	border-bottom: 3px solid rgba(179, 55, 55, 1);
}

img.standart-card {
	overflow: hidden;
}

div.my-card {
	margin-bottom: 40px;
}

.standart-card img {
	-webkit-filter: brightness(65%);
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.standart-card:hover {
  -webkit-filter: brightness(110%);
}

.card a {

}

.card {
	border: 25px solid white;
	-webkit-border-image: url(img/photo-texture1.jpg) 30 round round;
	     -o-border-image: url(img/photo-texture1.jpg) 30 round round;
	        border-image: url(img/photo-texture1.jpg) 30 round round;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-shadow: 4px 6.928px 29px 0 black;
	        box-shadow: 4px 6.928px 29px 0 black;
}

.card-body {
	background-image: url(img/polaroid-texture3.jpg);
	border-bottom: 1px dashed grey;
	border-left: 1px dashed grey;
	border-right: 1px dashed grey;
}

#sawn-timber-production {
	padding-top: 50px;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background: url(img/pilomaterial-bg.jpg) no-repeat center center;
	background-size: cover;
}

.carousel-inner {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border: 10px solid white;
}

.map {
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
	height: 400px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

footer {
	background: #3b3e43;
}

.footer-b1 {
	float: left;
	padding: 20px 20px;
}

.footer-desc {
	padding-top: 40px;
	text-transform: uppercase;
	font-family: 'Merriweather', sans-serif;
	color: white;
	padding: 15px 20px;
}

.footer-author {
	padding-top: 40px;
	text-transform: uppercase;
	font-size: 1rem;
	font-family: 'Merriweather', sans-serif;
	color: grey;
	padding: 15px 20px;
}

.footer-author a:hover {
	color: grey;
	text-decoration: underline;
}

.footer-b2 {

}

#services {
	padding: 0 0 50px 0;
}

.service-svg {
	width: 250px;
	height: 250px;
}

.icon-block {
	margin-top: 15px;
	width: 100%;
	margin-bottom: 35px;
	text-align: center;
}

.icon-block h3 {
	text-align: center;
	font-family: 'Lobster', sans-serif;
	font-size: 2rem;
}

.house-number {
	float:right;
	color: grey;
}

.hidden{
	opacity: 0;
}
.visible{
	opacity: 1;
}

.name, .review {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5rem;
}

.name {
	padding-top: 10px;
}

.review {
	position: absolute;
	font-size: 1.125rem;
	background-color: white;
	padding: 10px;
	border-radius: 15px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.review-background {
	position: relative;
}

.avatar {
	display: block;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border-radius: 50%;
}

.gallery-headline-btn {
	text-align: center;
	text-decoration: underline;
	padding: 20px 30px;
	width: 100%;
	font-family: 'Merriweather', sans-serif;
	margin: 10px 0;
	border-radius: 25px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(209, 214, 220, 0.46)), color-stop(30%, rgba(224, 224, 224, 1)), to(rgba(224, 224, 224, 0.3)));
	background: -webkit-linear-gradient(bottom, rgba(209, 214, 220, 0.46), rgba(224, 224, 224, 1) 30%, rgba(224, 224, 224, 0.3));
	background: -o-linear-gradient(bottom, rgba(209, 214, 220, 0.46), rgba(224, 224, 224, 1) 30%, rgba(224, 224, 224, 0.3));
	background: linear-gradient(to top, rgba(209, 214, 220, 0.46), rgba(224, 224, 224, 1) 30%, rgba(224, 224, 224, 0.3));
}

.photo {
	display: inline-block;
	margin-top: 20px;
}

.hide {
	margin-bottom: 20px;
}

.about-cont {
	background: url('img/about-bg.jpg');
	padding-top: 125px;
	padding-bottom: 25px;
}

.display-none {

}

.divider {
	height: 20px;
	width: 100%;
	border-bottom: 3px dotted grey;
	margin-bottom: 35px;
}

@media screen and (max-width: 575px) {

	.display-none {
		display:none;
	}

	h1.main-headline {
		font-size: 2.2rem;
	}

	h2.secondary-headline {
	font-family: 'Merriweather', sans-serif;
	font-size: 2rem;
	font-weight: 500;
	color: #fff;
	text-shadow: black 2px 2px 0px;
	padding: 2%;
	text-align: center;
	}

	.description-headline {
		font-size: 1.65rem;
	}

	.detailed {
		font-size: 1rem;
		padding: 10px 20px;
	}

	blockquote p {
		margin: 0 0 16px;
		font-size: 1rem;
		letter-spacing: .05em;
		line-height: 1.4;
	}

	body {
		font-size: 100%;
	}

	p {
		font-size: 1.25rem;
	}

	.review {
		position: relative;
		display: inline-block;
		padding: 10px;
		margin: 0 auto;
	}

	.display-xs-none {
		display: none;
	}

}

@media (min-width: 576px) and (max-width: 767px) {

	.display-none {
		display:none;
	}

	.jumbotron {
		margin-top: 0px;
	}

	.review {
		position: relative;
	}

	.review-background {
		margin-bottom: 50px;
	}
}

@media (min-width: 768px) and (max-device-width: 991px) {
	.review {
		position: relative;
	}

	.phone-icon {
		height: 35px;
		float: left;
		margin: 10px 10px 10px 0;
	}

	div.phone-number {
		font-family: 'Open Sans', sans-serif;
		font-size: 1rem;
		text-decoration: underline;
		margin-top: 10px;
		margin-bottom: 20px;
	}

	.nav-link {
		font-size: 1rem;
	}

	.display-none {
		display:none;
	}

}

@media (min-width: 768px) and (max-device-width: 840px) {
		div.phone-number {
			display: none;
		}
		.display-none {
		display:none;
	}
}